* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 header {
   background-color: #F9F8FC;
 }

 #logo {
   margin: auto;
   text-align: center;
 }

 nav {
  background-color:#17181C;
  text-align: center;
}

nav ul {
   list-style: none;
   display: inline-block;
   padding:18px;
}

nav ul li {
    float: left;
    margin-top: 10px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

nav ul li a:hover {
  background-color: #929fb3;
}
#carouselExampleSlidesOnly {
     margin: 30px;
     height: 80px;
}
 p {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 }
footer {
  background-color: #333; 
  color: #fff;
  text-align: center;
  padding: 10px;
}
